<div class="profile-container">
  <div class="user-photo">
    <img src="{{user.image}}" alt="user picture">
  </div>
  <div class="user-info">
    <span>{{user.name}}</span>
    <span>{{user.email}}</span>
    <a href="/users/{{user.id}}/edit" class="edit-profile">Edit</a>
  </div>
</div>

